# config/packages/messenger.yaml
framework:
    messenger:
        failure_transport: failed

        transports:
            async:
                dsn: "%env(MESSENGER_TRANSPORT_DSN)%"
                retry_strategy:
                    max_retries: 3
                    # milliseconds delay
                    delay: 5000
                    # causes the delay to be higher before each retry

            failed: 'doctrine://default?queue_name=failed'

        routing:
            # async is whatever name you gave your transport above
            'App\Message\SmsNotification': async
